-if flash[:alert]
  = flash[:alert]
.row.vholder
  .small-4.small-centered.columns.valign
    .panel
      %h2.text-center Careers
      %ul.text-center
        %li= link_to t(:login_button), "auth/github"

